body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(247, 212, 229);
}

*{
  padding: 0;
  margin: 0;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid rosybrown;
    filter: drop-shadow(2px 2px 10px #DC143C);
    
}

.foto-f{
    text-align: center;
    margin: 35px;
}



.menu-h {
  display: flex;
  justify-content: end;
  padding: 25px;
  list-style: none;
  background-color: #7e0b3b;
  
}


.maineime-m {
  color: #f08080;
  padding: 10px;

}

.nana-n{
  margin: 150px
  
 

}


.inter-i{
  margin: 150px;

}

.meubut-1 {
  background-color: white;
  width: 150px;
  height: 30px;
  border: 2px solid;
  color: #b86e87;
  border-radius: 50px;
  
}

.meubut-2 {
  background-color: white;
  width: 150px;
  height: 30px;
  border: 2px solid;
  color: #b86e87;
  border-radius: 50px; 
}

.meubut-3 {
  background-color: white;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  color: #b86e87;
  border: 2px solid; 
}

input[type=text] select{

  width: 100%;
  padding: 14px 21px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {

  width: 100%;
  background-color: #ecbba9;
  color: white;
  padding: 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input [type=submit] :hover{
  background-color: #f08080;
  border-radius: 50%;
}

div {
  border-radius: 5px;
  background-color: #ffb498;
  padding: 20px;
  margin-bottom: 5px;
}


#cont-c{
margin-bottom: 1em;

}



.formulario-f{
  
  margin: 100px 0 0 500px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.ton-t{


}



#id "lname"{

}

#id "fname"{

}

#id "mensagem" {
  
  
}



#id "dname" {
  
}



.frase-f{
    color: #a52a2a;
    
}
