.minha-div-geral {
 width: 100px;
  height: 100px;
  padding-top: 30px;
  text-align: end;
  display: flex;
  flex-wrap: wrap;
  
}

.minha-div-geral div {
    width: 300px;
    height: 50px;
}


.minha-div-1 {
  border: solid coral;
  background-color: coral; 
}

.minha-div-2 {
  border: solid cornflowerblue;
  background-color: cornflowerblue;
}

.minha-div-3 {
  border: solid yellow;
  background-color: yellow;
}

.minha-div-4 {
  border: solid chocolate;
  background-color: chocolate;
}

@media (max-width: 600px) {

}

.minha-div-1:hover{
    background-color: purple;
}
